<a href="https://colab.research.google.com/github/sweetiepickle/B-i-t-p-w1/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
value1 = int (input ('nhập vào số thứ 1: '))
value2 = int (input ('nhập vào số thứ 2: '))
value1 + value2

In [ ]:
with open ('text.txt', mode = 'w') as accounts:
  accounts.write ('1999123 hihi 7.9 \n')
  accounts.write ('2000123 hehe 8.9 \n')
  accounts.write ('1997123 hihe 8.9 \n')
  accounts.write ('2001123 hehi 6.0 \n')
  accounts.write ('1995123 hahh 5.0 \n')
  accounts.write ('2013123 nahh 7.3 \n')
  accounts.write ('1987123 yoyo 8.7 \n')
  accounts.write ('2199123 yaya 7.5 \n')
  accounts.write ('1900123 yiyi 7.0 \n')
  accounts.write ('2080123 yeye 5.9 \n')
  accounts.write ('1985123 yuyu 6.9 \n')
  accounts.write ('2333123 zizi 9.9 \n')
  accounts.write ('1500123 yiya 8.0 \n')
  accounts.write ('2030123 huhu 4.9 \n')
  accounts.write ('1300123 yiyo 8.4 \n')
  accounts.write ('2033123 huhi 5.7 \n')
  accounts.write ('1508123 yuyi 8.3 \n')
  accounts.write ('2055123 mlem 8.1 \n')
  accounts.write ('1577123 aloo 7.6 \n')
  accounts.write ('2345123 oloo 8.8 \n')

In [ ]:
with open ('text1.txt', mode ='w') as accounts:
  print ('1999123 hihi 7.9 \n')
  print ('2000123 hehe 8.9 \n')
  print ('1997123 hihe 8.9 \n')
  print ('2001123 hehi 6.0 \n')
  print ('1995123 hahh 5.0 \n')
  print ('2013123 nahh 7.3 \n')
  print ('1987123 yoyo 8.7 \n')
  print ('2199123 yaya 7.5 \n')
  print ('1900123 yiyi 7.0 \n')
  print ('2080123 yeye 5.9 \n')
  print ('1985123 yuyu 6.9 \n')
  print ('2333123 zizi 9.9 \n')
  print ('1500123 yiya 8.0 \n')
  print ('2030123 huhu 4.9 \n')
  print ('1300123 yiyo 8.4 \n')
  print ('2033123 huhi 5.7 \n')
  print ('1508123 yuyi 8.3 \n')
  print ('2055123 mlem 8.1 \n')
  print ('1577123 aloo 7.6 \n')
  print ('2345123 oloo 8.8 \n')

In [ ]:
with open ('text.txt', mode = 'r') as accounts:
  print (f'{"MSSV":<10},{"name":<20},{"score":<4}')
  for record in accounts:
    MSSV, name, score = record.split ()
    print (f'{"MSSV":<10},{"name":<20},{"score":<4}')

In [ ]:
import pandas as pd
url = 'data1.csv'
dataframe = pd.read_csv( url )
dataframe.set_index(dataframe['Name'])
#dataframe.loc['aloo']

In [ ]:
import pandas as pd
url = 'data1.csv'
dataframe = pd.read_csv( url )
dataframe[dataframe['Khoa']=='CKM'].head(10)

In [ ]:
import pandas as pd
url = 'data1.csv'
dataframe = pd.read_csv( url )
dataframe [(dataframe['Khoa']=='CKM') & (dataframe['course']==20)]

In [ ]:
import numpy as np
import pandas as pd

time = pd.date_range ('01/01/2023', period = 100000, freq = '30s')
dataframe = pd.DataFrame (index = time)
dataframe['Access amount'] = np.random.randint(1,10,100000)
dataframe.resample('w').sum()

In [ ]:
import pandas as pd
import numpy  as np

url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv (url)

time = pd.date_range ('01/01/2023', period = 100000, freq = '30s')
dataframe = pd.DataFrame (index = time)
dataframe['Access amount'] = np.random.randint(1,10,100000)
dataframe.resample('w').sum()

In [ ]:
import pandas as pd
url = 'data1.csv'
dataframe = pd.read_csv( url )
#dataframe.head ( 2 )   #hiển thị n dòng đầu của bảng data
dataframe.shape         # trả lại số hàng số cột
#dataframe.describe ()  # mô tả thông tin dữ liệu
#dataframe.iloc [0:4]   # lọc từ hàng 1 đến hàng 5 file excel
#dataframe.info ()      # the number of rows, columns, the total memory usage, the data type of each column, the number of non-NaN elements.

(22, 1)

In [ ]:
import pandas as pd
url = 'data1.csv'
dataframe = pd.read_csv( url )
frame = dataframe.set_index(dataframe['Name'])
frame.loc ['aloo']
dataframe['course'].max ()
dataframe['course'].min ()
dataframe['score'].mean () #avg
dataframe['score'].sum ()
dataframe['score'].count ()
dataframe['course'].unique ()
dataframe['course'].value_counts () # đếm có bao nhiêu hàng thuộc cột course
dataframe.drop('Khoa', axist = 1).head(20) #xóa cả cột khoa
dataframe.drop(['Khoa','course'], axist = 1).head(20) #xóa cả cột khoa và course   
dataframe.drop(dataframe.columns[2:4], axist = 1).head(20) # xóa cột thứ 3 và 4
dataframe(dataframe['course']!=19).head(20)
dataframe(dataframe['Khoa']!='CKM').head(20)
dataframe(dataframe.index != 4).head(20)
dataframe.groupby('Khoa').head(20)# nhóm những dữ liệu giống nhau
dataframe.groupby('Khoa').count()
dataframe.groupby(['Khoa', 'course']).head(20)
dataframe.groupby(['Khoa', 'course']).count()
dataframe.groupby(['Khoa', 'course'])['điểm'].count()

In [50]:
import pandas as pd 
import numpy  as np

url = 'http://winterolympicsmedals.com/medals.csv'
data = pd.read_csv (url)

year = data.groupby(['Year']).count()     # nhóm những năm giống nhau lại và đếm
city = data['City'].unique() 
cacnam = data['Year'].unique()            # đếm những năm khác nhau, bỏ các năm khác nhau
sonam = year.shape[0]
recently = data.tail (486)                #the last row = 2312 - 1827 + 1 

#print (recently)

nedy = data.loc[data.NOC == 'NED']
cacnamnedthamdu = nedy['Year'].unique ()
sonamnedthamdu = cacnamnedthamdu.shape [0]


gold = nedy.loc[nedy.Medal == 'Gold']
amountg = gold.shape [0]

silver = nedy.loc[nedy.Medal == 'Silver']
amounts = silver.shape [0] 

bronze = nedy.loc[nedy.Medal == 'Bronze']
amountb = bronze.shape [0] 

# 2002 - 2006

nedy4 = recently.loc[recently.NOC == 'NED']

gold4 = nedy4.loc[nedy4.Medal == 'Gold']
amountg4 = gold4.shape [0]

silver4 = nedy4.loc[nedy4.Medal == 'Silver']
amounts4 = silver4.shape [0]

bronze4 = nedy4.loc[nedy4.Medal == 'Bronze']
amountb4 = bronze4.shape [0]

sport = nedy4['Sport'].unique ()

# hiển thị

print ('Số lần diễn ra Olympics mùa đông: ', sonam)
print ('\nCác năm diễn ra Oympics mùa đông: ', cacnam)
print ('\nCác thành phố đăng cai Olympics mùa đông: ', city )
print ('\nQuốc gia chọn để báo cáo thống kê: Hà Lan - Netherlands')
print ('\nSố năm Hà Lan tham dự Olympics mùa đông: ', sonamnedthamdu)
print ('\nCác năm Hà Lan tham dự Olympics mùa đông: ', cacnamnedthamdu)
print ('\nTổng số huy chương vàng của Hà Lan qua các năm: ', amountg)
print ('\nTổng số huy chương bạc của Hà Lan qua các năm: ', amounts)
print ('\nTổng số huy chương đồng của Hà Lan qua các năm: ', amountb )
print ('\nTừ năm 2004 đến năm 2008, Hà Lan đã giành tổng cộng: \n' )
print (amountg4 , ' huy chương vàng \n' )
print (amounts4 , 'huy chương bạc\n' )
print (amountb4 , 'huy chương đồng\n' )
print ('\nTrong khoảng thời gian đó, Hà Lan đẫ tham gia những môn: ' , sport )
#print ('\n', nedy4)

Số lần diễn ra Olympics mùa đông:  20

Các năm diễn ra Oympics mùa đông:  [1924 1928 1932 1936 1948 1952 1956 1960 1964 1968 1972 1976 1980 1984
 1988 1992 1994 1998 2002 2006]

Các thành phố đăng cai Olympics mùa đông:  ['Chamonix' 'St. Moritz' 'Lake Placid' 'Garmisch-Partenkirchen' 'Oslo'
 "Cortina d'Ampezzo" 'Squaw Valley' 'Innsbruck' 'Grenoble' 'Sapporo'
 'Sarajevo' 'Calgary' 'Albertville' 'Lillehammer' 'Nagano'
 'Salt Lake City' 'Turin']

Quốc gia chọn để báo cáo thống kê: Hà Lan - Netherlands

Số năm Hà Lan tham dự Olympics mùa đông:  13

Các năm Hà Lan tham dự Olympics mùa đông:  [1952 1960 1964 1968 1972 1976 1980 1988 1992 1994 1998 2002 2006]

Tổng số huy chương vàng của Hà Lan qua các năm:  25

Tổng số huy chương bạc của Hà Lan qua các năm:  30

Tổng số huy chương đồng của Hà Lan qua các năm:  23

Từ năm 2004 đến năm 2008, Hà Lan đã giành tổng cộng:

6  huy chương vàng

7 huy chương bạc

4 huy chương đồng


Trong khoảng thời gian đó, Hà Lan đẫ tham gia những môn:  ['Skating']